name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: ecr-login
        uses: aws-actions/amazon-ecr-login@v1


      - name: Build Docker image
        run: |
          docker build -t devops:latest .

      - name: Tag Docker image
        run: |
          docker tag devops:latest 807497180003.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/devops:latest

      - name: Push Docker image to ECR
        run: |
          docker push 807497180003.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/devops:latest
      
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/devops-compose
            docker compose pull
            docker compose up -d